{% extends 'core/base.html' %} {% load static %} {% block content %}

 






<div class="mt-5 mx-5 text-justify">
 
 
  <br>
 
  <br>
  <br>
  <br>
  <div class="text-center">
    <img
      src="{% static 'core/images/a.jpg' %}"
      class="rounded-circle float-right mr-5"
      width="450px"
      height="450px"
      
      
    />
 

 
    <!-- <h1 class="font-weight-bold st-font">Hello,</h1> -->
    <div class="px-3" style="line-height: 2rem">
      <br><br><br><br>
      <div class="text-center">
              <p class="text-success" style="font-weight: bold;font-size: 25px;">Hi, I'm</p>
      <h2 style="font-weight: bold;font-size: 60px;" >Engr : Tufail Khan</h2>
      <b>Computer System Engineer </b>
      <p>"Django Web Developer | Python"</p>

      <button class="btn btn-outline-success btn-lg col-sm-2" style="border-radius: 50px;">Hire Me</button>
      <button class="btn btn-outline-warning btn-lg col-sm-2 " style="border-radius: 50px;"><span>Contact Me</span></button>
    </div>
    </div>
  </div>
  </div>

   
  
<!-- 
<!-- 



      <!-- <p style="text-indent: 100px;font-size: large;">
        I am <b class="text-dark">Tufail Khan</b> graduated from
        <b class="text-dark"
          >University of Engineering and Technology Peshawar. </b
        >I have been in Professional field since from last year worked as
        helping Engineer in software house. Here now my preliminary focus to
        obtain relevant position in Company where I can contribute my
        Engineering skills, knowledge and Expertise to an Organization which
        give me an opportunity to enhance my career level. Before working on
        Flutter to develop an app for our Final Year Project to retrieve data
        from firebase which was send by sensors.Now working on Python and focus
        on to develop Web Applications
      </p> -->
   

  







<br>
<br>
<br>
<br>
<br>
<br>



<div class="row" style="padding-top: 10%;">
  <div class="col-lg-4 bg-dark border-right border-left" >
    <div class="text-center">
      <i class="fas fa-tv fa-3x text-warning text-center mt-5"></i>
    </div>
    
    <h2 class="text-white my-4 text-center">Frontend Developer</h2>
   
    <p style="color: darkgray;" class="text-center mb-5">
      I can contribute my
        Engineering skills, knowledge and Expertise to an Organization which
        give me an opportunity to enhance my career level. Before working on
        Flutter to develop an app for our Final Year Project to retrieve data
        from firebase which was send by sensors.Now working on Python and focus
        on to develop Web Applications
    </p>
  </div>

  <div class="col-lg-4 bg-dark border-right" >
    <div class="text-center">
      <i class="fas fa-code fa-3x text-warning text-center mt-5"></i>
    </div>
    <h2 class="text-white my-4 text-center ">BackEnd Development</h2>
    
    <p style="color: darkgray;" class="text-center mb-5">
      A well-experienced Django developer having a good knowledge to do backend programming using python language. As a python coder, I do backend programming using python languages, applying different techniques to get require functionality. You know python is mostly used in most famous company e.g Google, Dropbox, Instagram, Stripe, etc. Any kind of python scripts, logic, modifications etc I accept challenges.
    </p>
  </div>
  <div class="col-lg-4 bg-dark" >
    <div class="text-center">
     
      <i class="fab fa-python fa-3x text-warning text-center mt-5"></i>
    </div>
    <h2 class="text-white my-4 text-center">Hire Django Developer & DRF</h2>
    
    <p style="color: darkgray;" class="text-center mb-5">
      If you are looking for to Django Developer to build any kind of website, then you are in right place, you can get more details about my services, here Very easy to build API with python using Django Rest Framework. That's Why I provide the service of DRF (Django Rest Framework) in which I create any kind of API for your websites with Authentication and Authorization.
    </p>
  </div>
</div>

<br><br>










<div class="row bg-white border-top border-dark">
  
  <div class="col-lg-7">
    <img
      src="{% static 'core/images/responsive1.jpg' %}"
      alt=""
      srcset=""
      class="col-lg-11"
      
      

    />
  </div>

  <div class="col-lg-5 text-center my-auto">
    <h2>Fully Responsive Design</h2>
    <p style="background-color: white">
      Would you like to get a fully responsive design for your website?
If yes, I develop such kind of website for my clients that automatically adjust to every kind of Devices. I use the Bootstrap framework to do this. What do you want to say?
    </p>
  </div>
</div>



<div class="row bg-white">
  <div class="col-lg-5 text-center my-auto">
    <h2>Python Django Framework</h2>
    <p style="background-color: white">
      Python is the most powerful language used in different fields like artificial intelligence data science, web development, etc. I used the Python library that is Django for the development of different Applications (Simple and complex). We focus only on clients' requirements when completing challenges.
    </p>
  </div>
  <div class="col-lg-7">
    <img
      src="{% static 'core/images/django.jpg' %}"
      alt=""
      srcset=""
      class="col-lg-11"
      style="margin-left: 100px;"
     
     
    />
  </div>
</div>


<div class="row bg-white border-bottom border-dark">
  
  <div class="col-lg-7">
    <img
      src="{% static 'core/images/customer.jpg' %}"
      alt=""
      srcset=""
      class="col-lg-11"
      style="height: 80%;"
      
      

    />
  </div>

  <div class="col-lg-5 text-center my-auto ">
    <h2>Customer support & Training</h2>
    <p style="background-color: white">
      After the completion of the project, we give Training to my customers on
      the customer's request. Fully guidelines about the project that I
      developed.
    </p>
  </div>
</div>

  















<br>
<br>
<h2 class="mt-3 text-center mb-3">What Peoples are saying...</h2>
<br>
<br>


<div class="row">
  <div class="col-sm-4 text-center bg-dark text-white border-left mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <h3>Asad Farooq</h3>
    <div class="text-center">
      <img
        src="{% static 'core/images/asad.png' %}"
        class="rounded-circle"
        width="150px"
        height="150px"
      />
    </div>

    <p style="color: darkgrey;">
      " Tufail Khan is a Professional web developer, I hired him for my long
      term project. I know he works as a professional one developer do"
    </p>
  </div>

  <div class="col-sm-4 text-center bg-dark text-white border-left mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <h3>Muhammad Shariq</h3>
    <div class="text-center">
      <img
        src="{% static 'core/images/shariq.png' %}"
        class="rounded-circle"
        width="150px"
        height="150px"
      />
    </div>

    <p style="color: darkgrey;">
      " Tufail Khan is a Professional web developer, I hired him for my long
      term project. I know he works as a professional one developer do"
    </p>
  </div>

  <div class="col-sm-4 text-center bg-dark text-white border-left mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <h3>Abbas Ahmed</h3>
    <div class="text-center">
      <img
        src="{% static 'core/images/abbas.jpg' %}"
        class="rounded-circle"
        width="150px"
        height="150px"
      />
    </div>

    <p style="color: darkgrey;">
      " Tufail Khan is a Professional web developer, I hired him for my long
      term project. I know he works as a professional one developer do"
    </p>
  </div>
</div>


<br>


<div class="row  border-left text-center" style=" height: 70px">
  <div class="col-sm-6 bg-warning">
    <h5 class="text-dark mx-auto mt-4" style="">
      Get connected with us on social networks!
    </h5>
  </div>
  
 
  <div class="mt-3 float-right ml-5">
    <div class="float-right ml-5">
      <a href="https://www.facebook.com/tufailkhan1387/" class="btn-lg text-primary" style="height: 40px;"
        ><i class="fab fa-facebook-messenger fa-2x"></i
      ></a>

      <a href="https://web.whatsapp.com/" class="btn-lg text-success"><i class="fab fa-whatsapp fa-2x"></i></a>

      <a href="https://www.twitter.com/tufailkhan5093/" class="btn-lg text-info"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://www.instagram.com/tufailkhan1387/" class="btn-lg text-danger"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
  </div>
</div>

<br>


<div class="row bg-dark border-left" >
  <div class="col-sm-3 text-white mt-3 mx-auto">
    <h4 class="text-center">TUFAIL KHAN</h4>
    <p class="text-center">
      This is Tufail Khan recently graduated from University of Engineering and Technology Peshawar as a 
      Computer System Engineer (PythonDjango Web Developer Freelancer), experienced in web development, web
      designing. I prefer to work on Python programming language and to develop
      web applications using the Django Framework. I can build simple as well as
      complex kind of Web base app in Django.
      
    </p>
  </div>

  <div class="col-sm-3 text-white mt-3 mx-auto">
    <h4 class="text-center">SERVICES</h4>
    <div class="text-center text-white">
    <a href="" class="text-white">Hire Django Dev</a><br>
    <a href="" class="text-white">Hire me on Fiverr</a><br>
    <a href="" class="text-white ">Hire me on Upword</a><br>
  </div>
  </div>

  <div class="col-sm-3 text-white mt-3 mx-auto">
    <h4 class="text-center">USERFUL LINKS</h4>
    <div class="text-center text-white">
      <a href="" class="text-white">Hire Django Dev</a><br>
      <a href="" class="text-white">Hire me on Fiverr</a><br>
      <a href="" class="text-white ">Hire me on Upword</a><br><br>
      {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn btn-outline-success col-sm-3"><b >Logout</b></a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-warning col-sm-3 text-center"><b>Login</b></a><br><br>
      <a href="{% url 'signup' %}" class="btn btn-outline-success col-sm-3"><b >Signup</b></a>
      {% endif %}
    </div>
   
    
  </div>

  <div class="col-sm-3 text-white mt-3 mx-auto">
    <h4 class="text-center">CONTACT ME</h4>
    <div class="text-center">
    <h6>Tufail Khan</h3>
      <h6>Mail : tufailkhan5093@gmail.com</h6>
      <h6>Ph : +923129312436</h6>
    </div>

  </div>
</div>
</div>
{% endblock content %} 
