{% load static %}

<div class="text-white bg-dark " style="height: auto; width: 254px;">
  <div class="text-center ">
    <img
      src="{% static 'core/images/a.jpg' %}"
      class="rounded-circle mt-5"
      width="100px"
      height="100px"
    />
    <h3 class="text-white mt-3 text-white" style="font-size: 20px;">Engr:<b>Tufail Khan</b></h3>
  </div>

  <hr class="border-light" />

  <div class="nav flex-column  text-white">
    <h5>
      <a href="{% url 'home' %}" class="nav-link {{home}} text-white"
        ><i class="fas fa-home"></i> Home</a
      >
    </h5>
    <h5>
      <a href="{% url 'services' %}" class="nav-link {{services}} text-white"
        ><i class="fab fa-servicestack"></i> Services</a
      >
    </h4>
    
    <h5>
      <a href="{% url 'projects' %}" class="nav-link {{projects}} text-white"
        ><i class="fas fa-tasks"></i> Projects</a
      >
    </h4>
   


    <h5>
      <a href="{% url 'contact' %}" class="nav-link {{contact}} text-white"
        ><i class="fas fa-id-card-alt"></i> Contact</a
      >
    </h4>
  </div>
  <div class="col-sm-11 mt-5">
    
    <b>Django WF<b class="float-right text-white">70%</b></b>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
      
      role="progressbar"
      aria-valuenow="65"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 70%"
    ></div>
  </div>
  <br>

  <b>Python<b class="float-right">60%</b></b>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
      
      role="progressbar"
      aria-valuenow="65"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 60%"
    ></div>
  </div>
  <br>
  
  <b>Bootstrap 4<b class="float-right">73%</b></b>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
      
      role="progressbar"
      aria-valuenow="65"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 73%"
    ></div>
  </div>
  <br>

  <b>HTML & CSS<b class="float-right">80%</b></b>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
      
      role="progressbar"
      aria-valuenow="65"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 80%"
    ></div>
  </div>
  <br>

  
  <br>
  <div class="">
    <h6><i class="fas fa-check fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp English</h6>
    <h6><i class="fas fa-check fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp Urdu</h6>
    <h6><i class="fas fa-check fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp Pushto</h6>

    <br><br>
    <h6><i class="fas fa-map-marker-alt fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp Lahore,Pakistan</h6>
    <h6 ><i class="fas fa-envelope fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp<span style="font-size: 12px;">tufailkhan5093@gmail.com</span></h6>
    <h6><i class="fas fa-phone fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp +923129312436</h6>
    <h6><i class="fab fa-facebook fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp / tufailkhan1387</h6>
    <h6><i class="fab fa-linkedin-in fa-sm text-warning"></i>&nbsp &nbsp &nbsp &nbsp &nbsp<span  style="font-size: 12px;">/tufail-khan-27a6331
      39/</span></h6>
 
  </div>
  
  
</div>





</div>
